@media screen and (max-width:600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x:hidden;
    }
    .nav{
        display: none;
    }
    main{
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    #home{
        font-size: 40px;
    }
    #homep{
        font-size: 25px;
    }
    #menu{
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
    }
    .slider{
        background-image: url(img/photo-1542291026-7eec264c27ff\ \(1\).avif);
        background-position: center;
        background-size: cover;
    }
.slid{
    display: none;
}
  #soon{
    font-size: 20px;
  }
  #nike{
    font-size: 20px;
    font-weight: bolder;
  }
  #p{
    font-size: 10px;
  }
  #exp{
    font-size: 10px;
  }
  i{
    font-size: 20px;
  }
  .cpy{
    display: none;
  }
    

    
}